pandas
matplotlib
seaborn
nltk
wordcloud
jupyterlab
torch
transformers
scikit-learn
shap
captum
bertviz
pyarrow
scipy

# API deployment dependencies
fastapi
uvicorn[standard]
pydantic
prometheus-client
gunicorn

# Data versioning
dvc